
@{
}
<div class="bg-gray-100 flex items-center justify-center h-screen">

    <div class="bg-white rounded-lg shadow-md p-8 text-center">
        <div class="text-green-500 text-4xl font-bold mb-8">Booking Successful!</div>

      
        <!-- Add any additional information or actions as needed -->

        <a href="@Url.Action("Index", "Home")" class="text-blue-500 hover:underline mt-4 block">Back to Dashboard</a>

    </div>

</div>